.text-center{
    background-image: url("/images/img1.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
height: 100vh;
}
.text-center>h2{
    margin-top: -140px;
   font-size: 70px;

   font-weight: 500;
   color: gold;
}
.text-center> h1{
    color: white;
}
.text-center> p{
    color:white;
}